<launch>
  <arg name="ardusub_params" default="$(find minau)/config/ardusub_sitl_no_gps.param"/>
  
  <!-- Start Gazebo Simulator with open ocean world -->
  <arg name="latitude" default="56.71897669633431"/>
  <arg name="longitude" default="3.515625"/>

  <arg name="schedule_file" default="$(find minau)/config/schedules/schedule_3_assets.json"/>
  <arg name="plan_filename" default="$(find minau)/config/mission_description_red_intruder_3.xml"/>
  <arg name="red_plan_filename" default="$(find minau)/config/mission_description_red_asset.xml"/>
  <!-- <arg name="schedule_file" default="$(find minau)/config/schedules/schedule_3_assets.json"/> -->

  <!-- Global Mission Manager Configuratons -->
  <arg name="enable_search_planning" value="false"/>
  <arg name="enable_tracking" value="false"/>

  <include file="$(find minau_tools)/launch/ocean_waves.launch">
    <arg name="paused" value="true"/>
  </include>

  <!-- <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" > 
     <arg name="port" value="8080"/>
  </include> -->

  <!-- Topside Position -->
  <arg name="topside_x" value="0.0"/>
  <arg name="topside_y" value="0.0"/>
  <arg name="topside_z" value="0.0"/>
  <arg name="topside_position_enu" value="[$(arg topside_y), $(arg topside_x), -$(arg topside_z)]"/>
  <arg name="surface_beacon_pose_ned" default="[$(arg topside_x), $(arg topside_y), $(arg topside_z), 0.0]" />
  <!-- <arg name="perimeter_enu" default="[[0.0, -11.0], [11.0, -11.0], [11.0, 11.0], [0.0, 11.0]]"/> -->
  <arg name="perimeter_enu" default="[[-11.0, 0.0], [-11.0, 11.0], [11.0, 11.0], [11.0, 0.0]]"/>

  <!-- Asset 3 Starting Position NED -->
  <arg name="x_2" value="5.0"/>
  <arg name="y_2" value="5.0"/>
  <arg name="z_2" value="0.0"/>
  <arg name="starting_position_2_enu" value="[$(arg y_2), $(arg x_2), -$(arg z_2)]"/>

  <!-- Asset 3 Starting Position NED -->
  <arg name="x_3" value="-10.0"/>
  <arg name="y_3" value="1.0"/>
  <arg name="z_3" value="0.0"/>
  <arg name="starting_position_3_enu" value="[$(arg y_3), $(arg x_3), -$(arg z_3)]"/>
  <!-- Asset 4 Starting Position NED -->
  <arg name="x_4" value="0.0"/>
  <arg name="y_4" value="1.0"/>
  <arg name="z_4" value="0.0"/>
  <arg name="starting_position_4_enu" value="[$(arg y_4), $(arg x_4), -$(arg z_4)]"/>

  <arg name="x_5" value="10.0"/>
  <arg name="y_5" value="5.0"/>
  <arg name="z_5" value="0.0"/>
  <arg name="starting_position_5_enu" value="[$(arg y_5), $(arg x_5), -$(arg z_5)]"/>

  <arg name="blue_team_names" default="[bruce,guppy, dory, surface]"/>
  <arg name="red_team_names" default="[red_actor_5]"/>
  <arg name="blue_team_positions" default="[$(arg starting_position_2_enu),$(arg starting_position_3_enu), $(arg starting_position_4_enu), $(arg topside_position_enu)]"/>

  <!-- Pier location in ENU -->
  <arg name="pier_x" default="-3"/>
  <arg name="pier_y" default="-15"/>
  <arg name="pier_z" default="-7"/>
  <arg name="pier_yaw" default="0"/>

  <arg name="sonar_360_scan_range_m" default="15.0" />
  <arg name="use_360" default="true"/>

  <!-- Start the SIMULATED Modem Processing node -->
  <include file="$(find minau_tools)/launch/topside_beacon.sitl.launch">
    <arg name="asset_id" value="1"/>
    <arg name="namespace" value="surface"/>

    <arg name="schedule_file" value="$(arg schedule_file)"/>
    <arg name="sim_global_pose" value="false" />
    <arg name="surface_beacon_pose_ned" value="$(arg surface_beacon_pose_ned)"/>
    <arg name="surface_position_enu" value="$(arg topside_position_enu)" />
    <arg name="blue_team_names" value="$(arg blue_team_names)" />
    <arg name="blue_team_positions" value="$(arg blue_team_positions)"/>
    <arg name="red_team_names" default="$(arg red_team_names)" />
  </include>

  <include file="$(find minau_tools)/launch/vehicle.bluerov2.sitl.launch">
    <arg name="asset_id" value="2"/>
    <arg name="namespace" value="bruce"/>

    <arg name="ardusub_instance" value="3"/>
    <arg name="ardusub_params" value="$(arg ardusub_params)"/>
    <arg name="latitude" value="$(arg latitude)"/>
    <arg name="longitude" value="$(arg longitude)"/>
    <!-- The following arguments must be set w.r.t. NED world frame -->
    <arg name="x" value="$(arg x_2)"/>
    <arg name="y" value="$(arg y_2)"/>
    <arg name="z" value="$(arg z_2)"/>
    <arg name="roll" value="0.0"/>
    <arg name="pitch" value="0.0"/>
    <arg name="yaw" value="-1.57"/>

    <!-- Mission Manager configs-->
    <arg name="enable_search_planning" value="$(arg enable_search_planning)"/>
    <arg name="enable_tracking" value="$(arg enable_tracking)"/>

    <arg name="surface_beacon_pose_ned" value="$(arg surface_beacon_pose_ned)"/>

    <arg name="use_360" value="$(arg use_360)"/>

    <arg name="schedule_file" value="$(arg schedule_file)"/>
    <!-- DDF params -->
    <arg name="blue_team_names" value="$(arg blue_team_names)" />
    <arg name="blue_team_positions" value="$(arg blue_team_positions)"/>
    <arg name="red_team_names" default="$(arg red_team_names)" />
    <arg name="sonar_360_scan_range_m" value="$(arg sonar_360_scan_range_m)" />
    <arg name="plan_filename" value="$(arg plan_filename)"/>
    <arg name="search_plan_filename" value="$(find minau)/config/search_plans/region_search_1.json"/>

    <!-- <arg name="perimeter_enu" value="[[1.0, -10.0], [10.0, -10.0], [10.0, 0.0], [0.0, 0.0]]"/> -->
    <arg name="perimeter_enu" value="$(arg perimeter_enu)"/>
    <arg name="depth_range_enu" value="[-5.0, -0.2]"/>
  </include>

  <include file="$(find minau_tools)/launch/vehicle.bluerov2.sitl.launch">
    <arg name="asset_id" value="3"/>
    <arg name="namespace" value="guppy"/>

    <arg name="ardusub_instance" value="1"/>
    <arg name="ardusub_params" value="$(arg ardusub_params)"/>
    <arg name="latitude" value="$(arg latitude)"/>
    <arg name="longitude" value="$(arg longitude)"/>
    <!-- The following arguments must be set w.r.t. NED world frame -->
    <arg name="x" value="$(arg x_3)"/>
    <arg name="y" value="$(arg y_3)"/>
    <arg name="z" value="$(arg z_3)"/>
    <arg name="roll" value="0.0"/>
    <arg name="pitch" value="0.0"/>
    <arg name="yaw" value="-1.57"/>

    <!-- Mission Manager configs-->
    <arg name="enable_search_planning" value="$(arg enable_search_planning)"/>
    <arg name="enable_tracking" value="$(arg enable_tracking)"/>

    <arg name="surface_beacon_pose_ned" value="$(arg surface_beacon_pose_ned)"/>

    <arg name="use_360" value="$(arg use_360)"/>

    <arg name="schedule_file" value="$(arg schedule_file)"/>
    <!-- DDF params -->
    <arg name="blue_team_names" value="$(arg blue_team_names)" />
    <arg name="blue_team_positions" value="$(arg blue_team_positions)"/>
    <arg name="red_team_names" default="$(arg red_team_names)" />
    <arg name="sonar_360_scan_range_m" value="$(arg sonar_360_scan_range_m)" />
    <arg name="plan_filename" value="$(arg plan_filename)"/>
    <arg name="search_plan_filename" value="$(find minau)/config/search_plans/region_search_1.json"/>

    <!-- <arg name="perimeter_enu" value="[[1.0, -10.0], [10.0, -10.0], [10.0, 0.0], [0.0, 0.0]]"/> -->
    <arg name="perimeter_enu" value="$(arg perimeter_enu)"/>
    <arg name="depth_range_enu" value="[-5.0, -0.2]"/>
  </include>

  <include file="$(find minau_tools)/launch/vehicle.bluerov2.sitl.launch">
    <arg name="asset_id" value="4"/>
    <arg name="namespace" value="dory"/>

    <arg name="ardusub_instance" value="2"/>
    <arg name="ardusub_params" value="$(arg ardusub_params)"/>
    <arg name="latitude" value="$(arg latitude)"/>
    <arg name="longitude" value="$(arg longitude)"/>
    <arg name="x" value="$(arg x_4)"/>
    <arg name="y" value="$(arg y_4)"/>
    <arg name="z" value="$(arg z_4)"/>
    <arg name="roll" value="0.0"/>
    <arg name="pitch" value="0.0"/>
    <arg name="yaw" value="-1.57"/>

    <!-- Mission Manager configs-->
    <arg name="enable_search_planning" value="$(arg enable_search_planning)"/>
    <arg name="enable_tracking" value="$(arg enable_tracking)"/>

    <arg name="surface_beacon_pose_ned" value="$(arg surface_beacon_pose_ned)"/>

    <arg name="use_360" value="$(arg use_360)"/>
    <arg name="schedule_file" value="$(arg schedule_file)"/>
    <!-- DDF params -->
    <arg name="blue_team_names" value="$(arg blue_team_names)" />
    <arg name="blue_team_positions" value="$(arg blue_team_positions)"/>
    <arg name="red_team_names" default="$(arg red_team_names)" />
    <arg name="sonar_360_scan_range_m" value="$(arg sonar_360_scan_range_m)" />
    <arg name="plan_filename" value="$(arg plan_filename)"/>
    <arg name="search_plan_filename" value="$(find minau)/config/search_plans/region_search_2.json"/>

    <!-- <arg name="perimeter_enu" value="[[1.0, 0.0], [10.0, 0.0], [10.0, 10.0], [1.0, 10.0]]"/> -->
    <!-- <arg name="perimeter_enu" value="[[0.0, -11.0], [11.0, -11.0], [11.0, 11.0], [0.0, 11.0]]"/> -->
    <arg name="perimeter_enu" value="$(arg perimeter_enu)"/>
    <arg name="depth_range_enu" value="[-5.0, -0.2]"/>
  </include>

  <include file="$(find minau_tools)/launch/vehicle.red_actor.sitl.launch">
    <arg name="asset_id" value="5"/>
    <arg name="ardusub_instance" value="4"/>
    <arg name="x" value="$(arg x_5)"/>
    <arg name="y" value="$(arg y_5)"/>
    <arg name="z" value="$(arg z_5)"/>
    <arg name="roll" value="0.0"/>
    <arg name="pitch" value="0.0"/>
    <arg name="yaw" value="-1.57"/>

    <arg name="plan_filename" value="$(arg red_plan_filename)"/>
  </include>

  <!-- <node name="spawn_pier" pkg="gazebo_ros" type="spawn_model" args="-file $(find minau)/models/pier/model.sdf -sdf -model pier -z $(arg pier_z) -x $(arg pier_x) -y $(arg pier_y) -Y $(arg pier_yaw)"/> -->

  <!-- <node name="namespace_node" pkg="minau" type="namespace_provider_node.py" output="screen">
    <param name="red_filter" value="red_actor_([^/]+)"/>
    <param name="blue_filter" value="bluerov2_([^/]+)"/>
  </node> -->
</launch>



